client/dist/
client/release/
client/renderer/
server/uploads/
server/messenger_v4.db*
*.exe
client/node_modules/.vite/

client/node_modules/.vite/deps/_metadata.json
client/node_modules/.vite/deps/axios.js
client/node_modules/.vite/deps/axios.js.map
client/node_modules/.vite/deps/chunk-PR4QN5HX.js
client/node_modules/.vite/deps/chunk-PR4QN5HX.js.map
client/node_modules/.vite/deps/chunk-YHPANKLD.js
client/node_modules/.vite/deps/chunk-YHPANKLD.js.map
client/node_modules/.vite/deps/framer-motion.js
client/node_modules/.vite/deps/framer-motion.js.map
client/node_modules/.vite/deps/package.json
client/node_modules/.vite/deps/react-dom_client.js
client/node_modules/.vite/deps/react-dom_client.js.map
client/node_modules/.vite/deps/react.js
client/node_modules/.vite/deps/react.js.map
client/node_modules/.vite/deps/socket__io-client.js
client/node_modules/.vite/deps/socket__io-client.js.map
client/node_modules/.vite/deps/tweetnacl-util.js
client/node_modules/.vite/deps/tweetnacl-util.js.map
client/node_modules/.vite/deps/tweetnacl.js
client/node_modules/.vite/deps/tweetnacl.js.map
client/node_modules/.vite/deps/zustand.js
client/node_modules/.vite/deps/zustand.js.map
client/node_modules/.vite/deps_temp_f2f0b64f/axios.js
client/node_modules/.vite/deps_temp_f2f0b64f/axios.js.map
client/node_modules/.vite/deps_temp_f2f0b64f/chunk-PR4QN5HX.js
client/node_modules/.vite/deps_temp_f2f0b64f/chunk-PR4QN5HX.js.map
client/node_modules/.vite/deps_temp_f2f0b64f/chunk-YHPANKLD.js
client/node_modules/.vite/deps_temp_f2f0b64f/chunk-YHPANKLD.js.map
client/node_modules/.vite/deps_temp_f2f0b64f/framer-motion.js
client/node_modules/.vite/deps_temp_f2f0b64f/framer-motion.js.map
client/node_modules/.vite/deps_temp_f2f0b64f/package.json
client/node_modules/.vite/deps_temp_f2f0b64f/react-dom_client.js
client/node_modules/.vite/deps_temp_f2f0b64f/react-dom_client.js.map
client/node_modules/.vite/deps_temp_f2f0b64f/react.js
client/node_modules/.vite/deps_temp_f2f0b64f/react.js.map
client/node_modules/.vite/deps_temp_f2f0b64f/socket__io-client.js
client/node_modules/.vite/deps_temp_f2f0b64f/socket__io-client.js.map
client/node_modules/.vite/deps_temp_f2f0b64f/tweetnacl-util.js
client/node_modules/.vite/deps_temp_f2f0b64f/tweetnacl-util.js.map
client/node_modules/.vite/deps_temp_f2f0b64f/tweetnacl.js
client/node_modules/.vite/deps_temp_f2f0b64f/tweetnacl.js.map
client/node_modules/.vite/deps_temp_f2f0b64f/zustand.js
client/node_modules/.vite/deps_temp_f2f0b64f/zustand.js.map
client/node_modules/.vite/deps/_metadata.json
client/node_modules/.vite/deps/axios.js.map
client/node_modules/.vite/deps/chunk-YHPANKLD.js
client/node_modules/.vite/deps/chunk-YHPANKLD.js.map
client/node_modules/.vite/deps/framer-motion.js
client/node_modules/.vite/deps/framer-motion.js.map
client/node_modules/.vite/deps/react-dom_client.js
client/node_modules/.vite/deps/react-dom_client.js.map
client/node_modules/.vite/deps/react.js
client/node_modules/.vite/deps/socket__io-client.js.map
client/node_modules/.vite/deps/tweetnacl-util.js.map
client/node_modules/.vite/deps/tweetnacl.js.map
client/node_modules/.vite/deps/zustand.js
client/node_modules/.vite/deps/zustand.js.map
client/node_modules/.vite/deps_temp_f2f0b64f/axios.js
client/node_modules/.vite/deps_temp_f2f0b64f/axios.js.map
client/node_modules/.vite/deps_temp_f2f0b64f/chunk-PR4QN5HX.js
client/node_modules/.vite/deps_temp_f2f0b64f/chunk-PR4QN5HX.js.map
client/node_modules/.vite/deps_temp_f2f0b64f/chunk-YHPANKLD.js
client/node_modules/.vite/deps_temp_f2f0b64f/chunk-YHPANKLD.js.map
client/node_modules/.vite/deps_temp_f2f0b64f/framer-motion.js
client/node_modules/.vite/deps_temp_f2f0b64f/framer-motion.js.map
client/node_modules/.vite/deps_temp_f2f0b64f/package.json
client/node_modules/.vite/deps_temp_f2f0b64f/react-dom_client.js
client/node_modules/.vite/deps_temp_f2f0b64f/react-dom_client.js.map
client/node_modules/.vite/deps_temp_f2f0b64f/react.js
client/node_modules/.vite/deps_temp_f2f0b64f/react.js.map
client/node_modules/.vite/deps_temp_f2f0b64f/socket__io-client.js
client/node_modules/.vite/deps_temp_f2f0b64f/socket__io-client.js.map
client/node_modules/.vite/deps_temp_f2f0b64f/tweetnacl-util.js
client/node_modules/.vite/deps_temp_f2f0b64f/tweetnacl-util.js.map
client/node_modules/.vite/deps_temp_f2f0b64f/tweetnacl.js
client/node_modules/.vite/deps_temp_f2f0b64f/tweetnacl.js.map
client/node_modules/.vite/deps_temp_f2f0b64f/zustand.js
client/node_modules/.vite/deps_temp_f2f0b64f/zustand.js.map
